* {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  header#header {
    background: #1e1f26;
    height: 65px;
  }
  header#header > h1 {
    padding: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 35px;
    font-family: 'IBM Plex Sans', sens-serif;
  }
.content{
    background-image: url("/assets/river-hill-background.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  .bird{
    position:absolute;
    top: 1%;
    right: 1%;
    scale: 50%;
    animation: MoveUpDown 1s linear infinite;
  }
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
  }